# Learning Pandas

In [1]:
import numpy as np 
import pandas as pd

In [2]:
dict1={
    "name":['kunal','badal','pranjal','najmul'],
    "marks":[92,69,54,66],
    "city":['banka','ranchi','patna','bolpur']
}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df

      name  marks    city
0    kunal     92   banka
1    badal     69  ranchi
2  pranjal     54   patna
3   najmul     66  bolpur

In [5]:
df.to_csv('friends.csv')

In [6]:
df.to_csv('friends_No_Index.csv',index=False)

In [7]:
series=pd.Series(np.random.rand(25))

In [8]:
series

0     0.408455
1     0.305535
2     0.133201
3     0.908393
4     0.703219
5     0.129521
6     0.933658
7     0.315808
8     0.362888
9     0.870894
10    0.377374
11    0.343407
12    0.345332
13    0.334054
14    0.401677
15    0.821343
16    0.889714
17    0.253933
18    0.584289
19    0.378835
20    0.985799
21    0.902238
22    0.271013
23    0.866197
24    0.387806
dtype: float64

In [9]:
newdf=pd.DataFrame(np.random.rand(999,10),index=np.arange(999))

In [10]:
newdf

,0,1,2,3,4,5,6,7,8,9
0,0.038834,0.086500,0.512386,0.505010,0.170592,0.989358,0.304590,0.355141,0.312197,0.769429
1,0.634454,0.489832,0.368094,0.805544,0.782881,0.641903,0.832669,0.323754,0.263278,0.617589
2,0.585858,0.207379,0.515182,0.173391,0.768883,0.668206,0.306946,0.581959,0.507966,0.571667
3,0.951324,0.049829,0.476362,0.734433,0.250518,0.730749,0.347577,0.990835,0.828186,0.647087
4,0.238956,0.603055,0.263933,0.957257,0.815348,0.105455,0.794381,0.282359,0.133333,0.010100
...,...,...,...,...,...,...,...,...,...,...
994,0.217893,0.116512,0.996751,0.169435,0.813429,0.931985,0.002191,0.033234,0.693829,0.204725
995,0.275618,0.425552,0.715357,0.747458,0.618899,0.137209,0.239915,0.163645,0.771224,0.331505
996,0.783006,0.399074,0.587882,0.634842,0.609834,0.413668,0.894010,0.681573,0.810962,0.317227
997,0.566164,0.618282,0.025151,0.728595,0.483469,0.179381,0.247267,0.555974,0.660059,0.574611
998,0.138019,0.297021,0.741013,0.007295,0.533311,0.702920,0.551074,0.847744,0.393551,0.541373

In [11]:
newdf.head()

,0,1,2,3,4,5,6,7,8,9
0,0.038834,0.086500,0.512386,0.505010,0.170592,0.989358,0.304590,0.355141,0.312197,0.769429
1,0.634454,0.489832,0.368094,0.805544,0.782881,0.641903,0.832669,0.323754,0.263278,0.617589
2,0.585858,0.207379,0.515182,0.173391,0.768883,0.668206,0.306946,0.581959,0.507966,0.571667
3,0.951324,0.049829,0.476362,0.734433,0.250518,0.730749,0.347577,0.990835,0.828186,0.647087
4,0.238956,0.603055,0.263933,0.957257,0.815348,0.105455,0.794381,0.282359,0.133333,0.010100

In [12]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 0 to 998
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       999 non-null    float64
 1   1       999 non-null    float64
 2   2       999 non-null    float64
 3   3       999 non-null    float64
 4   4       999 non-null    float64
 5   5       999 non-null    float64
 6   6       999 non-null    float64
 7   7       999 non-null    float64
 8   8       999 non-null    float64
 9   9       999 non-null    float64
dtypes: float64(10)
memory usage: 85.9 KB

In [13]:
newdf.describe()

,0,1,2,3,4,5,6,7,8,9
count,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,0.509099,0.509202,0.505133,0.523148,0.506357,0.509653,0.492235,0.474364,0.494750,0.512411
std,0.284967,0.285408,0.288634,0.286560,0.282498,0.286885,0.293897,0.291929,0.289945,0.283998
min,0.000440,0.000355,0.002222,0.000854,0.000221,0.000050,0.000389,0.002222,0.000897,0.000306
25%,0.270277,0.265034,0.258756,0.290165,0.263393,0.254443,0.236381,0.226200,0.237639,0.282383
50%,0.515333,0.509551,0.493999,0.524803,0.505955,0.521067,0.487391,0.450074,0.512767,0.514354
75%,0.752068,0.757462,0.749056,0.777741,0.757635,0.763125,0.750946,0.723486,0.742356,0.752529
max,0.999442,0.998796,0.999350,0.998500,0.998405,0.999374,0.998698,0.999885,0.998262,0.999358

In [14]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [15]:
#newdf[0][1]='kunal'

In [16]:
newdf.head()

,0,1,2,3,4,5,6,7,8,9
0,0.038834,0.086500,0.512386,0.505010,0.170592,0.989358,0.304590,0.355141,0.312197,0.769429
1,0.634454,0.489832,0.368094,0.805544,0.782881,0.641903,0.832669,0.323754,0.263278,0.617589
2,0.585858,0.207379,0.515182,0.173391,0.768883,0.668206,0.306946,0.581959,0.507966,0.571667
3,0.951324,0.049829,0.476362,0.734433,0.250518,0.730749,0.347577,0.990835,0.828186,0.647087
4,0.238956,0.603055,0.263933,0.957257,0.815348,0.105455,0.794381,0.282359,0.133333,0.010100

In [17]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [18]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       989, 990, 991, 992, 993, 994, 995, 996, 997, 998],
      dtype='int64', length=999)

In [19]:
newdf.columns

RangeIndex(start=0, stop=10, step=1)

In [21]:
#transpose
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,989,990,991,992,993,994,995,996,997,998
0,0.038834,0.634454,0.585858,0.951324,0.238956,0.643354,0.242848,0.974190,0.498056,0.067678,...,0.949383,0.413792,0.629125,0.643021,0.025149,0.217893,0.275618,0.783006,0.566164,0.138019
1,0.086500,0.489832,0.207379,0.049829,0.603055,0.733945,0.530696,0.458346,0.444105,0.306259,...,0.088554,0.490155,0.283286,0.993522,0.121249,0.116512,0.425552,0.399074,0.618282,0.297021
2,0.512386,0.368094,0.515182,0.476362,0.263933,0.149765,0.655506,0.383857,0.045888,0.689677,...,0.403936,0.267629,0.094321,0.908600,0.512104,0.996751,0.715357,0.587882,0.025151,0.741013
3,0.505010,0.805544,0.173391,0.734433,0.957257,0.809192,0.229824,0.593963,0.675786,0.722930,...,0.798892,0.296314,0.571570,0.477947,0.861155,0.169435,0.747458,0.634842,0.728595,0.007295
4,0.170592,0.782881,0.768883,0.250518,0.815348,0.792261,0.840489,0.860034,0.216486,0.475586,...,0.584402,0.411701,0.281238,0.773522,0.925505,0.813429,0.618899,0.609834,0.483469,0.533311
5,0.989358,0.641903,0.668206,0.730749,0.105455,0.887550,0.021416,0.864054,0.745962,0.136765,...,0.761339,0.190341,0.699787,0.538951,0.961862,0.931985,0.137209,0.413668,0.179381,0.702920
6,0.304590,0.832669,0.306946,0.347577,0.794381,0.560836,0.167663,0.457099,0.005002,0.826295,...,0.416642,0.861943,0.664257,0.443324,0.338135,0.002191,0.239915,0.894010,0.247267,0.551074
7,0.355141,0.323754,0.581959,0.990835,0.282359,0.688555,0.271556,0.584654,0.109836,0.710254,...,0.861737,0.807089,0.260470,0.588612,0.949917,0.033234,0.163645,0.681573,0.555974,0.847744
8,0.312197,0.263278,0.507966,0.828186,0.133333,0.764198,0.183227,0.066323,0.940634,0.592590,...,0.953891,0.992190,0.200389,0.036823,0.230042,0.693829,0.771224,0.810962,0.660059,0.393551
9,0.769429,0.617589,0.571667,0.647087,0.010100,0.786056,0.914787,0.998201,0.570499,0.129212,...,0.669888,0.909611,0.505169,0.213757,0.347452,0.204725,0.331505,0.317227,0.574611,0.541373

In [23]:
#axis=0 row hoti h
#axis=1 column hoti h
newdf.sort_index(axis=0,ascending=False)

,0,1,2,3,4,5,6,7,8,9
998,0.138019,0.297021,0.741013,0.007295,0.533311,0.702920,0.551074,0.847744,0.393551,0.541373
997,0.566164,0.618282,0.025151,0.728595,0.483469,0.179381,0.247267,0.555974,0.660059,0.574611
996,0.783006,0.399074,0.587882,0.634842,0.609834,0.413668,0.894010,0.681573,0.810962,0.317227
995,0.275618,0.425552,0.715357,0.747458,0.618899,0.137209,0.239915,0.163645,0.771224,0.331505
994,0.217893,0.116512,0.996751,0.169435,0.813429,0.931985,0.002191,0.033234,0.693829,0.204725
...,...,...,...,...,...,...,...,...,...,...
4,0.238956,0.603055,0.263933,0.957257,0.815348,0.105455,0.794381,0.282359,0.133333,0.010100
3,0.951324,0.049829,0.476362,0.734433,0.250518,0.730749,0.347577,0.990835,0.828186,0.647087
2,0.585858,0.207379,0.515182,0.173391,0.768883,0.668206,0.306946,0.581959,0.507966,0.571667
1,0.634454,0.489832,0.368094,0.805544,0.782881,0.641903,0.832669,0.323754,0.263278,0.617589
0,0.038834,0.086500,0.512386,0.505010,0.170592,0.989358,0.304590,0.355141,0.312197,0.769429